body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gainsboro;
}

.calculator {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#display {
    width: 75%;
    justify-content: left;
    height: 40px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: azure;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-ac {
    width: 20%;
    background-color:skyblue;
    color:white;
}

.button-arithmetic {
    background-color: grey;
}